body {
  margin: 0;
  margin-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
  background-color: rgb(188, 187, 187);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
  
}
.nav-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px; 
  margin-right: 20px; 
}
.nav-links {
  display: flex;
  gap: 15px;
  margin-right: auto;
}
.nav-link {
  text-decoration: none;
  color: var(--text);
}
.theme-button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 20rem;
  position: relative; 
}

.back-to-top-button {
  width: 100%;
  background-color: red;
  color: white;
  border: none;
  padding: 16px; 
  font-size: 16px;
  cursor: pointer;
  position: absolute; 
  top: -50px; 
}

.back-to-top-button:hover {
  opacity: 0.8;
}

footer > img {
  width: 200px;
  margin: 0;
  color: #000;
}

.footer-icon {
  width: 40px;
  height: 40px;
  color: #000;
}

footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

.contact{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.form-button{
  width: 320px;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card-image {
  width: 200px; 
  height: auto;
  margin-bottom: 1rem; 
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}